body{
	background-color: grey;
}

#title-logo{
	margin-left: 6%;
}

.img-container img{
	width: 100%;
}

#input{
	width: 50%;
	margin-right: 40px;
}

.other-stuff-container{
	margin-top: 5%;
	margin-left: 50px;
}

.img-container{
	float: left;
	margin-left: 30px;
	margin-right: 50px;
	margin-bottom: 50px;
	border: 14px solid #72BCB1;
	overflow: auto;
}

.column{
	float: left;
}